$textcolor:#f4f4f7;



body{
    background: rgb(2,0,36);
}


.title-name-text{
    color: $textcolor;
}

.g-col-4{
    p{
        margin-top: 10px;
        color: $textcolor;
        line-height: 1.8;
    }
    img{
        padding-top: 40px;
        width: 800px;
    }
}

.grid{
    margin-top: 80px;
    

}
.g-col-4{
    margin-top: 40px;
}

.second-title-text{
    color: $textcolor;
}