$textcolor:#f4f4f7;



body{
    background: rgb(2,0,36);
}


.title-name-text{
    color: $textcolor;
}

.g-col-4{
    p{
        margin-top: 10px;
        color: $textcolor;
        line-height: 1.8;
    }
    img{
        padding-top: 40px;
        width: 800px;
    }
}

.grid{
    margin-top: 80px;
    

}
.g-col-4{
    margin-top: 40px;
}

.second-title-text{
    color: $textcolor;
}

.mb-3{
    width: 500px;
}


label{
    color: #f4f4f7;
}

.container-md{
    margin-top: 100px;
}
.accordion{
    margin-top: 50px;
}

#carouselExampleIndicators{
    width: 500px;
     top: 100px;
    margin: 0 auto;
}

.row{
    margin-top: 100px;
}
.spinner-grow{
  margin-top: 10px;
}

.img-fluid{
    border-radius: 5px;
}

@media (max-width:500px) {
    #carouselExampleIndicators{
        width: 300px;
    }

    .row {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}